.noteItemContainer {
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  display: block;
  z-index: 1;
}

.noteItemContainer:hover .deleteBtn, 
.noteItemContainer:hover .pin{
  opacity: 1;
}

.noteItemContainer:hover {
  box-shadow: 0px 0px 7px gray;
}

.pin {
  position: absolute;
  top: 3px;
  right: 9px;
  opacity: 0;
  cursor: pointer;
  color: gray;
  border: none;
  font-size: 20px;
}

.pinned {
  color: blue;
}

.deleteBtn {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  background-color: gray;
  border: none;
  border-radius: 3px;
}

.deleteBtn:focus {
  outline: none;
  background-color: red;
}

.noteItem {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  opacity: 1;
  transition: opacity .6s;
  height: auto;
  display: block;
  position: relative;
}

.isEditing {
  opacity: 0;
  /* height: auto; */
}

.editItem {
  display: none;
}

.showEditItem {
  display: block;
}

