.resizableTextInput {
  border: none;
  font-size: 18px;
  height: auto;
  max-height: 50vh;
  padding: 0 10px;
  margin-top: 10px;
  resize: none;
  overflow: hidden;
}

.resizableTextInput:focus {
  outline: none;
  height: max-content;
}
